.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid red;
}

.card-img {
  width: 125px;
  height: 168px;
}

.card-header > span {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.17em;
  text-align: left;
}
